.nav-item {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  cursor: pointer;

  svg {
    font-size: 3.9rem;
  }

  p {
    font-size: 2rem;
  }
}

.sidenav {
  width: 32rem;
  background-color: var(--bg-primary);
  border-top-right-radius: var(--radius-card);
  border-bottom-right-radius: var(--radius-card);
  height: 100vh;
  border: 1px solid var(--card-border);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  .sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 9.5rem;
      font-weight: 700;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      font-size: 7.2rem;
    }
  }

  .dashboard-button {
    background-color: var(--primary-extra-light);
    color: var(--primary-text);
    border-radius: var(--radius-full);
    padding: 1.2rem 2rem;
  }

  .nav-items {
    padding-left: 2.5rem;
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  .friend-button {
    margin-top: 3.2rem;
    margin-left: 2.5rem;
    border: none;
    border-radius: var(--radius-full);
    padding: 1.2rem 2rem;
    color: var(--text-white);
  }
}
