/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
}

/* Now every value set in rem will be equivalent to 10px */
html {
  font-size: 62.5%;
  color: var(--text-primary);

  @include respond-to('xxl') {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-secondary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
i {
  color: var(--text-primary);
}
