.gradient-top-to-bottom {
  background: linear-gradient(
    to bottom,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
}

.gradient-left-to-right {
  background: linear-gradient(
    to right,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
}

.card {
  border-radius: var(--radius-card);
  padding: 3rem 5rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--card-border);
  box-shadow: var(--shadow-card);

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .card-title {
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
}
