.gradient-top-to-bottom {
  background: linear-gradient(
    to bottom,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
}

.gradient-left-to-right {
  background: linear-gradient(
    to right,
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
}

.card {
  border-radius: var(--radius-card);
  padding: 3rem 5rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--card-border);
  box-shadow: var(--shadow-card);

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .card-title {
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
}

.theme-switch {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  height: 5rem;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-card);
  position: relative;
  cursor: pointer;

  .theme-switch-pointer {
    width: 4rem;
    height: 4rem;

    border-radius: var(--radius-full);
    position: absolute;
    top: 0.5rem;
    transition: all 0.3s ease-in-out;
  }

  .light {
    left: 0.5rem;
  }

  .dark {
    right: 0.5rem;
  }
}

.auth-version {
  background-color: var(--bg-primary);
  border: 1px solid var(--card-border);

  .theme-switch-pointer {
    background-color: var(--primary);
  }
}

.dashboard-version {
  background-color: var(--primary);

  .theme-switch-pointer {
    background-color: var(--bg-primary);
  }
}
