@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
}

/* Now every value set in rem will be equivalent to 10px */
html {
  font-size: 62.5%;
  color: var(--text-primary);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-secondary);
}

/* Root variables */
:root {
  --text-primary: #000000;
  --text-secondary: #7f7d7d;
  --text-gray: #aea9a9;
  --text-white: #ffffff;

  --primay: #9638c5;
  --primary-dark: #520895;
  --primary-light: #8930be;
  --primary-text: #a236a8;
  --primary-extra-light: #a236a833;

  --primary-gradient-start: #9a3cc5;
  --primary-gradient-end: #b14fc9;

  --form-border: #cdcdcd;
  --card-border: #e6e6e6;
  --card-border-dark: #6b6b6b;

  --card-gap: 3rem;
  --radius-form: 2rem;
  --radius-card: 2.6rem;
  --radius-full: 999rem;

  --bg-primary: #ffffff;
  --bg-secondary: #fdfcfe;

  --shadow-card: 0 0 10px rgba(0, 0, 0, 0.25);

  --sidenav-width: 32rem;
}

// Add dark mode variables
.dark {
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --text-gray: #8c8c8c;
  --text-white: #000000;

  --primay: #6a1b9a;
  --primary-dark: #4a0072;
  --primary-light: #8e24aa;
  --primary-text: #ab47bc;
  --primary-extra-light: #ab47bc33;

  --primary-gradient-start: #7b1fa2;
  --primary-gradient-end: #9c27b0;

  --form-border: #4f4f4f;
  --card-border: #3a3a3a;
  --card-border-dark: #1a1a1a;

  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;

  --shadow-card: 0 0 10px rgba(255, 255, 255, 0.25);
}

.dashboard-container {
  display: flex;

  .content {
    width: calc(100% - var(--sidenav-width));
    padding: 3rem 5rem;
  }
}

@import './scss/_common.scss';
@import './scss/_reusable.scss';
